# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Edit'
    'submenu': [
      'label': 'Lines'
      'submenu': [
        { 'label': 'Align block', 'command': 'valign:align' }
      ]
    ]
  }
]
